body {
 font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 90vw;
  height: 50px;
  padding: 0 20px;
  background: #4406af;
  border-radius: 9px;
  border: 1px solid #eeeff2;
  /* box-shadow: 10px #da8b15; */
  margin: 10px;
}
.nav a {
  color: white;
  text-decoration: none;
}
.Show {
  background: #88b6cd;
  border-radius: 9px;
  border: 10px solid #e7ecfb;
  box-shadow: 0 0 30px #22cfb8; 
  padding: 50px; 
  justify-content: center;
}
.stock-symbol{
  box-shadow: 0 0 30px #3c4140; 
}
.dashboard {
  background: #88b6cd;
  border-radius: 9px;
  border: 10px solid #e7ecfb;
  box-shadow: 0 0 30px #22cfb8; 
  padding: 90px; 
  justify-content: center;
}